.netflix-hotkeys {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 0;
    margin: 0;

    position: absolute;
    z-index: 100;
    pointer-events: none;

    font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    /* font-size: 0.8em; */
    color: white;
}

div.nfhk-popup {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(2);
    /* transform: translate(-50%, -50%); */

    visibility: hidden;
    position: absolute;
    pointer-events: all;

    color: white;
    background: #262626;
    border-radius: 0.3em;
}    

div.nfhk-popup.visible {
    visibility: visible;
}

div.nfhk-popup>h2.nfhk-popup-header {
    margin: 0;
    padding: .75em 2em;
    font-size: 1.25em;
    font-weight: 700;
}

div.nfhk-popup span.nfhk-popup-close {
    position: absolute;

    width: 0.8em;
    top: 0;
    right: 0;
    margin: .75em 1em;

    font-size: 1.25em;
    cursor: pointer;
}

div.nfhk-popup span.nfhk-popup-close>svg {
    width: 100%;
    opacity: 0.75;
}

div.nfhk-popup span.nfhk-popup-close:hover>svg {
    opacity: 1;
}

div.nfhk-popup div.nfhk-divider {
    display: flex;
    direction: ltr;
}

div.nfhk-popup div.nfhk-list {
    display: flex;
}

div.nfhk-popup div.nfhk-list h3.nfhk-list-header {
    margin: 0;
    padding: .75em 2.6em;
    font-size: 0.94444444em;
}

div.nfhk-popup div.nfhk-list ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

div.nfhk-popup div.nfhk-list ul li {
    margin: 0;
    padding: .75em 2.6em;
    color: #b3b3b3;
}

div.nfhk-popup div.nfhk-list ul li.selected {
    color: #fff;
    background: rgba(255,255,255,.1);
}

div.nfhk-popup span.nfhk-key {
    border-radius: 0.25em;
    padding: 0.1em 0.4em;

    border: 1px solid #b3b3b3;
    font-family: monospace;
}