html, body {
    margin: 0;
    padding: 0;
}

body {
    background: #202020;
    color: white;
    font-family: sans-serif;
}

header {
    background: #141414;
    padding: 2em 0 2em 0;
}

header img {
    display: block;
    width: 7em;
    height: auto;
    margin: 0 auto 2em auto;
}

header h1 {
    margin: 0;
    text-align: center;
}

section {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

section#downloads {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 0.5em 0.5em;
    padding-top: 1em;
}

a.link {
    padding: 1em;
    color: white;
    border-radius: 0.3em;
    text-decoration: none;
    /* background: #282828; */
    transition: background 0.3s ease-out;
}

a.link:hover {
    background: #303030;
}

a.link img.link__icon {
    vertical-align: middle;
    width: 3em;
    height: auto;
    margin-right: 1em;
}

section#about {
    margin-top: 2em;
    margin-bottom: 10em;
}

section#about h2 {
    padding-left: 0.5em;
}

section#about img {
    display: block;
    width: 90%;
    height: auto;
    margin: 0 auto;
    box-shadow: black 0px 5px 25px;
}

section#about p {
    display: block;
    width: 90%;
    margin: 2em auto;
}

footer {
    padding: 5em 0 5em 0;
    background: #141414;
    text-align: center;
}

footer a {
    margin: 0 1em 0 1em;
    color: #ddd;
    text-decoration: none;
    transition: color 0.5s ease-out;
}

footer a:hover {
    color: #aaa;
}

footer a>img {
    vertical-align: middle;
    width: auto;
    height: 2em;
}