html, body {
    margin: 0;
    padding: 0;
}

body {
    background: #262626;
    color: white;
    font-family: sans-serif;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

header {
    background: #141414;
    padding: 2em 0 2em 0;
}

header img {
    display: block;
    width: 5em;
    height: auto;
    margin: 0 auto 2em auto;
}

header span.logo {
    display: block;
    width: 6em;
    height: 6em;
    margin: 0 auto 2em auto;

    background: url("images/logo.png");
    background-size: contain !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

header h1 {
    margin: 0;
    text-align: center;
}

section {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

section#downloads {
    display: grid;
    width: 95%;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 0.5em 0.5em;
    padding-top: 1em;
}

a.link {
    padding: 1em;
    color: white;
    border-radius: 0.3em;
    text-decoration: none;
    background: #191919;
    transition: background 0.3s ease-out;
}

a.link:hover {
    background: #303030;
}

a.link .link__icon {
    display: inline-block;
    vertical-align: middle;

    width: 3em;
    height: 3em;
    margin-right: 1em;

    background-size: contain !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

a.link .link__icon.icon__chrome {
    background: url("images/chrome.svg");
}

a.link .link__icon.icon__firefox {
    background: url("images/firefox.svg");
}

section#about {
    margin-top: 2em;
    margin-bottom: 5em;
}

section#about h2 {
    padding-left: 0.5em;
}

section#about img {
    display: block;
    width: 90%;
    height: auto;
    margin: 0 auto;
    box-shadow: black 0px 5px 25px;
}

section#about p {
    display: block;
    width: 90%;
    margin: 2.5em auto;
    line-height: 1.5em;
}

footer {
    padding: 3em 0 3em 0;
    background: #141414;
    text-align: center;
}

footer a {
    margin: 0 1em 0 1em;
    color: #ddd;
    text-decoration: none;
    transition: color 0.3s ease-out;
}

footer a:hover {
    color: #999;
}

footer a>img {
    vertical-align: middle;
    width: auto;
    height: 2em;
}